body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: bisque;
    color: #000;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 1rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
}
.wrapper{
    width: 80%;
    margin:2rem auto;
    font-size: 1.3rem;
}
.wrapper p a{
    text-decoration: none;
    
}
.highlight{
    transition: all 0.2s;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    background: white;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}